<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Futballe</title> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Mada|Monoton&display=swap" rel="stylesheet">
</head>
<body>
  
  <!--Side navigation bar MODIFICADO DIANA-->
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <!--Llamar a la base de datos de equipos desde SQL-->
    <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="Search.." title="Type a team">
      <ul id="myMenu">
      </ul>
  
    </div>
      <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Equipos</span>
      <script>
      function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
      }
      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
      }
    </script>
      <!-- Use any element to open the sidenav -->
      <span onclick="openNav()">open</span>
      <!--Get search tool into sidebar-->
  


  <!--End of Side bar code-->
      <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
      <div id="main">
        ...
      </div>
      </div>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width= 100% height=100% viewBox="0 0 792 612">
            <defs>
              <linearGradient id="linear-gradient" x1="125.02" y1="426.96" x2="137.34" y2="426.96" gradientUnits="userSpaceOnUse">
                <stop offset="0" stop-color="#ed1c24"/>
                <stop offset="1" stop-color="#a21c24"/>
              </linearGradient>
            </defs>
            <title>fut</title>
            <g id="background">
              <rect width="792" height="612" style="fill: #252426"/>
            </g>
            <g id="medio_circulos_y_negro" data-name="medio circulos y negro">
              <ellipse cx="200.26" cy="284.31" rx="102" ry="103.72" style="fill: none;stroke: #00bf07;stroke-miterlimit: 10;stroke-width: 18px"/>
              <ellipse cx="201.86" cy="284.46" rx="129.86" ry="131.76" style="fill: none;stroke: #ffde17;stroke-miterlimit: 10;stroke-width: 18px"/>
              <circle cx="205.16" cy="284.46" r="78.5" style="fill: none;stroke: #e82828;stroke-miterlimit: 10;stroke-width: 18px"/>
              <polygon points="205.16 116 205.16 445 390 445 390 132.59 205.16 116" style="fill: #252426"/>
            </g>
            <g id="lineas">
              <path d="M284.41,191" style="fill: none"/>
              <path d="M539.55,175.59" style="fill: none;stroke: #e5102a;stroke-miterlimit: 10;stroke-width: 9px"/>
              <rect x="202.73" y="353.99" width="203.37" height="17.93" style="fill: #e82828"/>
              <rect x="204.16" y="379.06" width="200.71" height="17.93" style="fill: #00bf07"/>
              <rect x="202.25" y="407.26" width="204.16" height="17.93" style="fill: #ffde17"/>
            </g>
            <g id="grafica_lineas" data-name="grafica lineas">
              <rect x="396.35" y="353.99" width="200.94" height="17.93" style="fill: #e82828"/>
              <rect x="395.36" y="379.06" width="169.96" height="17.93" style="fill: #00bf07"/>
              <rect x="393.45" y="407.26" width="156.45" height="17.93" style="fill: #ffde17"/>
            </g>
            <g id="points">
              <g>
                <line x1="194" y1="365.03" x2="131.18" y2="426.96" style="fill: none;stroke: #fff;stroke-miterlimit: 10;stroke-width: 1.35639607906342px"/>
                <ellipse cx="131.18" cy="426.96" rx="6.16" ry="6.07" style="fill: url(#linear-gradient)"/>
              </g>
              <line x1="106" y1="193.75" x2="68.52" y2="155.73" style="fill: none;stroke: #fff;stroke-miterlimit: 10;stroke-width: 0.820868744871997px"/>
              <ellipse cx="68.52" cy="155.73" rx="6.07" ry="6.16" style="fill: #ffde17"/>
              <line x1="200.26" y1="183.67" x2="238.28" y2="146.19" style="fill: none;stroke: #fff;stroke-miterlimit: 10;stroke-width: 0.820868744871997px"/>
              <ellipse cx="238.28" cy="146.19" rx="6.16" ry="6.07" style="fill: #00bf07"/>
              <circle cx="756.26" cy="526" r="6.5" style="fill: #fff"/>
            </g>
            <g id="texto">
              <text transform="translate(162.59 276.95)" style="font-size: 28px;fill: #fff;font-family: Monoton-Regular, Monoton">MANCHESTER<tspan x="0" y="33.6">UNITED</tspan></text>
              <text transform="translate(632 374.05)" style="font-size: 28px;fill: #fff;font-family: Monoton-Regular, Monoton">POGBA</text>
              <text transform="translate(636.24 559.05)" style="font-size: 21px;fill: #fff;font-family: Monoton-Regular, Monoton">FRANCIA /<tspan x="28.38" y="25.2">GUINEA</tspan></text>
              <text transform="translate(100.76 489.05)" style="font-size: 26px;fill: #fff;font-family: Monoton-Regular, Monoton">45%</text>
              <text transform="translate(95.76 457)" style="font-size: 15px;fill: #fff;font-family: adineuePRO-Light, adineuePRO Light;font-weight: 300"><tspan style="letter-spacing: -0.015006510416666667em">A</tspan><tspan x="8.96" y="0">GGRESION</tspan></text>
              <text transform="translate(252.76 168.72)" style="font-size: 26px;fill: #fff;font-family: Monoton-Regular, Monoton">450,000</text>
              <text transform="translate(252.76 140.12)" style="font-size: 15px;fill: #fff;font-family: adineuePRO-Light, adineuePRO Light;font-weight: 300">SALA<tspan x="32.83" y="0" style="letter-spacing: -0.010970052083333333em">R</tspan><tspan x="40.74" y="0">Y</tspan></text>
              <text transform="translate(33.76 132.02)" style="font-size: 26px;fill: #fff;font-family: Monoton-Regular, Monoton">45%</text>
              <text transform="translate(28.76 99.98)" style="font-size: 15px;fill: #fff;font-family: adineuePRO-Light, adineuePRO Light;font-weight: 300"><tspan style="letter-spacing: -0.015006510416666667em">A</tspan><tspan x="8.96" y="0">GGRESION</tspan></text>
              <text transform="translate(680.99 532.5)" style="font-size: 15px;fill: #fff;font-family: adineuePRO-Light, adineuePRO Light;font-weight: 300"><tspan style="letter-spacing: -0.02099609375em">C</tspan><tspan x="8.38" y="0">OUNT</tspan><tspan x="45.75" y="0" style="letter-spacing: -0.011002604166666667em">R</tspan><tspan x="53.65" y="0">Y</tspan></text>
            </g>
            <g id="linea_blanca" data-name="linea blanca">
              <line x1="412" y1="526" x2="412" y2="94" style="fill: none;stroke: #252426;stroke-miterlimit: 10;stroke-width: 26px"/>
              <line x1="412" y1="35" x2="412" y2="577" style="fill: none;stroke: #fff;stroke-miterlimit: 10;stroke-width: 1.5px"/>
            </g>
            
          </svg>
          
  </div>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>